/* common code start  */
*
{
	box-sizing: border-box;
}
a
{
	text-decoration: none;
}
li
{
	list-style: none;
}
img
{
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.d-flex
{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* nav code start */
.navbar-brand
{
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
	padding: 6px 0px 6px 10px;
	margin: 0;
	line-height: 1;
	border: 4px solid #8A5643;
	letter-spacing: .1em;
}
.navbar-brand::before
{
	content: '';
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
	left: 0;
	background: #8A5643;
	z-index: -1;
}
.navbar-brand span
{
	font-weight: 400;
	color: #8A5643;
	margin: 0;
	padding: 0 6px;
}
.navbar-brand::after
{
	position: absolute;
	content: 'READY-TO-ASSEMBLE CABINETRY';
	display: block;
	bottom: 0;
	left: -5px;
	font-size: 14px;
	letter-spacing: .28em;
	font-weight: 400;
	color: #8A5643;
	transform: translateY(25px);
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: column-reverse;
	align-items: end;
}
.navbar .navbar-collapse .top-links li:nth-child(2)
{
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
}
.navbar .navbar-collapse .top-links li a
{
	display: inline-block;
	color: #808080;
	margin: 0 10px;
	transition: .5s all;
	font-weight: 500;
	font-size: 14px;
}
.navbar .navbar-collapse .top-links li a:hover
{
	color: #8A5643;
}
.navbar .navbar-collapse .top-links li a i
{
	color: #000;
	margin-right: 6px;
}
.navbar-expand-lg .navbar-nav .nav-link
{
	font-size: 18px;
	font-weight: 700;
}
/* =====header section code start===== */
header
{
	width: 100%;
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/header.jpg), no-repeat;
	background-size: cover;
	margin-top: 10px;
}
header .order .order-click
{
	position: relative;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 50%;
	border: 4px solid #BC6D3E;
	z-index: 1;
	margin-top: 250px;
	margin-left: 40%;
	margin-bottom: 50px;
}
header .order .order-click::after
{
	position: absolute;
	content: '';
	width: 150px;
	height: 150px;
	background: #BC6D3E;
	border-radius: 50%;
	z-index: -1;
}
header .order .order-click a
{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.millwork .card-content h2
{
	position: relative;
	font-weight: 600;
}
.millwork .card-content h2::after
{
	position: absolute;
	content: '';
	left: 0;
	bottom: -25px;
	width: 80px;
	height: 1px;
	background: #BC6D3E;
}
.millwork .card-content p
{
	font-size: 23px;
}
.millwork .card-content a
{
	display: inline-block;
	padding: 10px 20px;
	background: #BC6D3E;
	color: #fff;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.millwork .title h2
{
	font-weight: 600;
}
.card-content ul li
{
	list-style: outside;
	font-size: 23px;
}
/* =====advantage section code start ===== */
.advantage
{
	background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0.1)) ,url(../img/interior.jpg), no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.advantage .title
{
	position: relative;
	width: 100%;
}
.advantage .title h2
{
	position: absolute;
    top: 0;
    left: 0;
    font-size: 10rem;
    font-weight: 400;
    background: #fff;
    color: #000;
    width: 100%;
    transform: translateY(-50px);
    mix-blend-mode: screen;
    line-height: 0;
    height: 130px;
    display: flex;
    align-items: center;
	justify-content: start;
}